@font-face {
    font-family: fontt;
    src: url(font.otf);
}
html {
scroll-behavior: smooth;
}
*{
    margin: 0;
    font-family: fontt;
}
header{
    width: 100%;
    height: 60px;
    display: flex;
    background-color: #101010;
    padding-top: 10px;
    position: fixed;
}
header img{
    height: 50px;
    margin: 0 30px;
}
header a{
    margin-left: 20px;
    color: white;
    font-size: 40px;
    text-decoration: none;
}
.promo{
    background: url(img/bg.png) fixed;
    height: 550px;
    background-size: cover;
    background-position: 50% 50%;
    justify-content: center;
    display: flex;
    align-items: center;
    flex-direction: column;
    box-shadow: 0 0 35px black;
    padding: 60px 20px 0 20px;
    margin-bottom: 50px;
}
.promo h3{
    color: white;
    text-align: center;
}
.pros{
    padding-left: 20px;
}
.pros h3{
    font-size: 45px;
    font-weight: 900;
}
.pros ul{
    margin-top: 20px;
    font-size: 28px;
}
.pros li{
    margin-top: 30px;
    font-weight: bold;
}
.pros_content{
    display: flex;
    justify-content: space-between;
    margin-bottom: 50px;
}
h2{
    text-align: center;
    font-size: 40px;
    margin-bottom: 20px;
}
.praises{
    display: flex;
    justify-content: space-around;
    padding: 0 20px;
}
.praise{
    border: 5px solid black;
    width: 20%;
    height: 600px;
    padding: 4% 2%;
    font-size: 20px;
}
.praise img{
    width: 80%;
    margin-left: 10%;
}
.praise h4{
    font-size: 25px;
    text-align: center;
    margin: 10px 0;
}
footer{
    margin-top: 40px;
    background-color: #171717;
    padding-top: 100px;
    color: gray;
    text-align: center;
    box-shadow: 0 0 20px #171717;
    font-size: 20px;
}
footer p{
    margin-top: 10px;
}

@media(max-width: 2370px){
    .praise{
        font-size: 16px;
    }
}
@media(max-width: 810px){
    header a{
        font-size: 28px;
    }
    .pros{
        padding-right: 5px;
    }
    .pros h3{
        font-size: 30px;
    }
    .pros li{
        font-size: 14px;
    }
    .pros img{
        display: none;
    }
    .praise h4{
        font-size: 20px;
    }
}
@media(max-width: 658px){
    .promo{
        height: 350px;
    }
    .promo_img1 img{
        height: 175px;
    }
    .promo_img2 img{
        height: 80px;
    }
    .promo h3{
        font-size: 16px;
    }
    header a{
        font-size: 20px;
    }
    .pros h3{
        font-size: 35px;
    }
    .pros li{
        font-size: 20px;
    }
    .praise{
        border: 4px solid black;
        width: 40%;
    }
    .praise:nth-child(3){
        display: none;
    }
    footer{
        padding-top: 60px;
    }
}
@media(max-width: 506px){
    .promo_img1 img{
        height: 125px;
    }
    .promo_img2 img{
        height: 50px;
    }
    .promo h3{
        font-size: 14px;
    }
    header a{
        font-size: 17px;
    }
    .praise h4{
        font-size: 18px;
    }
}
@media(max-width: 470px){
    header{
        height: 30px;
    }
    header img{
        height: 26px;
        margin: 0 20px;
    }
    header a{
        font-size: 13px;
        margin-left: 10px;
    }
    .praise{
        font-size: 14px;
    }
    .praise h4{
        font-size: 14px;
    }
}
@media(max-width: 370px){
    .praise h4{
        font-size: 12px;
    }
}
@media(max-width: 346px){
    .praise{
        font-size: 12px;
    }
    header a{
        font-size: 12px;
    }
}
